/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.alert{
 margin-left: 10px;
 margin-right: 10px;  
}

.table-hover > tbody > tr:hover {
  background-color: #dff0d8;
}

