<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TrafficLight</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Enter the number of minute</h1>
	<form action="#" th:action="@{/trafficlight}"
		th:object="${trafficLight}" method="post">
		<table>
			<tr>
				<td><input type="text" id="userInputMinute"
					name="userInputMinute" th:value="*{userInputMinute}" /></td>
				<td th:if="${#fields.hasErrors('userInputMinute')}"
					th:errors="*{userInputMinute}">Name Error</td>
			</tr>
		</table>
		<input type="submit" value="Check" /> <input type="reset"
			value="Reset" />
	</form>
</body>
</html>