<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:component-scan base-package="com.eshop.controller" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<bean id="backupDB" class="com.eshop.model.BackupDB" />

	<bean id="createDataTable" class="com.eshop.model.CreateDataTable">
		<constructor-arg ref="jdbcTemplate" />
	</bean>

	<bean id="deleteDataTable" class="com.eshop.model.DeleteDataTable">
		<constructor-arg ref="jdbcTemplate" />
	</bean>

	<bean id="selectDataTable" class="com.eshop.model.SelectDataTable">
		<constructor-arg ref="jdbcTemplate" />
	</bean>

	<bean id="shrink" class="com.eshop.model.ShrinkDataDB">
		<constructor-arg ref="jdbcTemplate" /> 
	</bean>

	<bean id="insertDataTable" class="com.eshop.model.InsertDataTable">
		<constructor-arg ref="jdbcTemplate" />
	</bean>
	
	<bean id="ShowTableDB" class="com.eshop.model.ShowTableDB">
		<constructor-arg ref="jdbcTemplate" />
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="userService" class="com.eshop.service.UserService" />
	
	<bean id="passwordValidator" class="com.eshop.service.PasswordValidator" />	
		
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driver" ref="driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/eshop" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
			
	<bean id="sessionFactory"
    class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
      <property name="dataSource" ref="dataSource" />
      <property name="packagesToScan" value="com.eshop.model" />
      <property name="hibernateProperties">
         <props>
            <prop key="hibernate.hbm2ddl.auto">update</prop>
            <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
         </props>                  
      </property>
   </bean>
   
	<tx:annotation-driven transaction-manager="transactionManager" />
	 <bean id="transactionManager"
    class="org.springframework.orm.hibernate5.HibernateTransactionManager">
      <property name="sessionFactory" ref="sessionFactory" />
   </bean>
 
   <bean id="persistenceExceptionTranslationPostProcessor"
    class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
 	
	<bean id="driver" class="com.mysql.jdbc.Driver" />
</beans>