
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema//context/spring-context.xsd">

	<context:component-scan base-package="com.eshop.controller" />
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<bean id="backupDB" class="com.eshop.model.BackupDB" />

	<bean id="createDataTable" class="com.eshop.model.CreateDataTable">
		<constructor-arg ref="jdbcTemplate" />
	</bean>

	<bean id="deleteDataTable" class="com.eshop.model.DeleteDataTable">
		<constructor-arg ref="jdbcTemplate" />
	</bean>

	<bean id="describeTableInfoColumns" class="com.eshop.model.DescribeTableInfoColumns">
	</bean>

	<bean id="selectDataTable" class="com.eshop.model.SelectDataTable">
		<constructor-arg ref="jdbcTemplate" />
	</bean>

	<bean id="shrink" class="com.eshop.model.ShrinkDataDB">
		
	</bean>

	<bean id="insertDataTable" class="com.eshop.model.InsertDataTable">
		<constructor-arg ref="jdbcTemplate" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driver" ref="driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/eshop" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	
	<bean id="driver" class="com.mysql.jdbc.Driver" />
</beans>